body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.name-two h2 {
  font-family: 'Aspire SC Light Oblique';
  position: relative;
  color: white;
  font-size: 40px;
  margin: -2px;
  font-weight: 300;
  width: 290px;
  top: 10px;
}
.name-button h2 {
  font-family: 'Aspire SC Light Oblique';
  color: white;
  font-size: 40px;
  margin: 0px;
  font-weight: 300;
}
.name-button {
  position: absolute;
  top: 88%;
  margin-left: 45px;
}
.name-two h2 {
  margin-left: 42px;
}
.puntos-left {
  font-family: 'Quartz MS';
  position: absolute;
  right: 88%;
  margin: 0px;
  top: 13%;
  font-size: 174px;
  color: white;
}

.puntos-righ {
  font-family: 'Quartz MS';
  position: absolute;
  text-align: center;
  right: 69%;
  margin: 0px;
  top: 57%;
  color: #def33c;
  font-size: 174px;
}

.sets-buttom {
  font-family: 'Quartz MS';
  margin: 0px;
  color: white;
  position: absolute;
  top: 79%;
  left: 734px;
  font-size: 80px;
}
.sets-top {
  font-family: 'Quartz MS';
  margin: 0px;
  color: white;
  position: absolute;
  top: 8%;
  left: 729px;
  font-size: 80px;
}

.title-padel {
  margin: 0;
  position: absolute;
  right: 26%;
  transform: rotate(-66deg);
  font-size: 49px;
  top: 127px;
  color: #8080804d;
}
.box-cancha {
  position: absolute;
  bottom: 137px;
  right: 809px;
  display: flex;
  transform: rotate(293deg);
  color: white;
}
.cancha {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  margin: 0;
  font-size: 26px;
  font-weight: 900;
}

.numero-cancha {
  font-size: 39px;
  font-family: 'Quartz MS';
  margin: 0px 0px 0px 12px;
}

@font-face {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  src: url('Assets/fonts/AspireSCLightOblique-Regular.ttf'), format('ttf');
}
@font-face {
  font-family: 'Quartz MS';
  src: url('Assets/fonts/QuartzMSRegular.TTF'), format('ttf');
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nameTop1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes nameTop2 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes ptsBut {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes timeTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* container{
  width: '100%',
  height'100%',
  position: 'absolute',
  objectFit: 'fill',
  objectPosition: 'center',
  clipPath: 'polygon(0px 0px, 72% 0%, 41% 143%, 0% 100%)'
} */

.linea-top {
  border: 1px solid;
  position: relative;
  color: white;
  top: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 33%;
  box-shadow: -4px 0px 8px 1px #4f00ffb5;
}

.border-team-a {
  position: absolute;
  color: white;
  bottom: 126px;
  background: #f82d97;
  margin-left: 10px;
  transform: skew(389deg, 360deg);
  width: 535px;
  padding: 2px;
}

.border-team-a p {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  margin: 0;
  margin-left: 11px;
  transform: skew(325deg, 0deg);
  font-weight: 800;
  font-size: 20px;
}

.border-team-b {
  position: absolute;
  color: white;
  background: #f82d97;
  left: 78px;
  top: 129px;
  width: 543px;
  transform: skew(326deg, 360deg);
  padding: 1px;
}
.border-team-b p {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  margin: 0;
  float: right;
  margin-right: 11px;
  margin-bottom: 2px;
  transform: skew(384deg, 360deg);
  font-size: 19px;
  font-weight: 900;
}

.box-1-top {
  position: absolute;
  border: 14px solid;
  right: 1848px;
  top: 129px;
  color: #f82d97e0;
  transform: skew(324deg, 360deg);
}

.box-2-top {
  position: absolute;
  border: 14px solid;
  right: 1882px;
  top: 129px;
  color: #f82d9794;
  transform: skew(324deg, 360deg);
}
.box-1-botton {
  position: absolute;
  border: 15px solid;
  right: 1335px;
  bottom: 126px;
  color: #f82d97e0;
  transform: skew(391deg, 360deg);
}
.box-2-botton {
  position: absolute;
  border: 15px solid;
  border-right: -12px;
  right: 1299px;
  bottom: 126px;
  color: #f82d9794;
  transform: skew(391deg, 360deg);
}

.linea-rotate {
  border: 1px solid;
  position: relative;
  width: 98px;
  color: white;
  transform: rotate(45deg);
  top: 58px;
  left: 621px;
  margin: 0px;
  box-shadow: 3px 0px 8px 1px #4f00ff;
}

.linea-buttom {
  width: 101px;
  border: 1px solid;
  color: white;
  position: absolute;
  left: 706px;
  top: 193px;
  margin: 0px;
  box-shadow: 1px 0px 8px 1px #4f00ff;
}

.linea-top-buttom {
  border: 1px solid;
  position: relative;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 33%;
  top: 739px;
  box-shadow: -4px 0px 8px 1px #4f00ffb5;
}

.linea-rotate-buttom {
  border: 1px solid;
  position: relative;
  width: 98px;
  color: white;
  transform: rotate(136deg);
  top: 702px;
  left: 622px;
  margin: 0px;
  box-shadow: 3px 0px 8px 1px #4f00ff;
}
.linea-buttom-buttom {
  width: 101px;
  border: 1px solid;
  color: white;
  position: absolute;
  left: 708px;
  top: 771px;
  margin: 0px;
  box-shadow: 1px 0px 8px 1px #4f00ff;
}

.time {
  position: absolute;
  right: 6%;
  top: 0;
  border: 1px solid;
  border-top: none;
  /* padding: 17px; */
  background: black;
  color: white;
  border-radius: 0px 0px 50px 50px;
  width: 15%;
  text-align: center;
  font-size: 66px;
  height: 90px;
}
.time p {
  margin: 0px;
  font-family: 'Quartz MS';
}

.puntuaciones {
  position: absolute;
  right: 0%;
  top: 30%;
}
.sets {
  display: flex;
  justify-content: space-around;
  margin-bottom: -5px;
  color: #ff00f5;
}
.sets p {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  font-size: 23px;
}
.puntuacion-1 {
  display: flex;
  justify-content: space-around;
  background: rgb(0, 1, 20);
  background: linear-gradient(
    90deg,
    rgba(0, 1, 20, 1) 0%,
    rgba(10, 0, 136, 1) 60%,
    rgba(7, 0, 91, 1) 95%
  );
  color: white;
  width: 560px;
  font-size: 19px;
  border-radius: 10px 0px 0px 10px;
  height: 78px;
}
.puntuacion-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  background: rgb(0, 1, 20);
  background: linear-gradient(
    90deg,
    rgba(0, 1, 20, 1) 0%,
    rgba(10, 0, 136, 1) 60%,
    rgba(7, 0, 91, 1) 95%
  );
  color: white;
  width: 560px;
  border-radius: 10px 0px 0px 10px;
  height: 78px;
}

.puntuacion-1 p {
  font-size: 65px;
  font-family: 'Quartz MS';
  margin: -8px;
}

.puntuacion-2 p {
  font-size: 65px;
  font-family: 'Quartz MS';
  margin: -8px;
}
.categoria {
  position: absolute;
  right: 745px;
  transform: rotate(293deg);
  color: #0034ff;
  bottom: 140px;
  display: flex;
  align-items: center;
}
.numero-categoria {
  font-size: 39px;
  font-family: 'Quartz MS';
  margin: 0px 0px 0px 8px;
}

.title-categoria {
  font-family: 'Aspire SC Light Oblique';
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  color: #0f0ff3;
}
.message {
  border: 1px solid red;
}

.container-tour {
  background-image: url('./Assets/FondoPadel\ Score.png');
  width: 100%;
  height: 100%;
}
.tournament {
  display: flex;
  justify-content: space-between;
  background-image: url('./Assets/Recurso\ 3Fondo.png');
  height: 100vh;
    background-size: contain;
    background-repeat: round;
}
.dupla-score {
  display: flex;
  margin-bottom: 44px;
}
.dupla-score h2{
  color: white;
}
/* .jugadores-flex{
  display: flex;s
} */

.duplas {
  border: 1px solid rgba(160, 156, 156, 0.682);
  box-shadow: inset 1px -1px 5px 0px #3a00eb;
  padding: 1rem;
  margin-top: 48px;
  border-radius: 17px;
  margin-left: 25px;
}

.duplas h2 {
  font-family: 'Aspire SC LIGHT OBLIQUE';
  font-size: 24px;
  color: #ffffffcf;
}

.input-right {
  height: 20px;
  border-radius: 9px;

  text-align: center;
  margin-left: 14px;
  margin-top: 20px;
  padding: 5px;
  margin-right: 14px;
}
.input-left {
  height: 20px;
  border-radius: 9px;
  margin-top: 20px;
  margin-right: 14px;
  margin-left: 14px;
  padding: 5px;
  text-align: center;
}

.puntos-score-games{
  position: absolute;
  color: white;
  left: 10%;
  font-size: 30px;
  display: flex;
  top: 30px;
}
.l-right-perdido{
  color: red;
   font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-family: 'Aspire SC LIGHT OBLIQUE';
}
.r-left-ganados{
  color: #008000de;
    margin-right: 18px;
     font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-family: 'Aspire SC LIGHT OBLIQUE';
}

.jugadores {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-family: 'Aspire SC LIGHT OBLIQUE';
  color: #ffffff;
  text-align: center;
}
.box-score-duplas{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}