body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  /*   background-image: url(); */
  background-image: url('./Assets/FondoPadel\ Score.png');
  background-size: cover;
}

.name-one h2 {
  animation: nameTop1 1s ease-in;
  color: white;
  position: fixed;
  bottom: 91%;
  right: 70%;
  font-size: 42px;
  margin: 0px;
}
.name-two h2 {
  animation: nameTop2 1s ease-in;
  color: white;
  position: absolute;
  bottom: 91%;
  right: 8%;
  font-size: 42px;
  margin: 0px;
}

.time{
  position: absolute;
  font-family: 'Digital Display';
  animation: timeTop 1s ease-in;
  right: 45%;
  bottom: 76% ;
  color: white;
  font-size: 60px;
}

.line-score {
  padding-top: 38px;
  width: 100%;
}
.line-inf {
  position: fixed;
  top: 62%;
  width: 100%;
}
.logo {
  width: 17%;
  object-fit: contain;
  position: fixed;
  left: 42%;
  top: 77%;
}

.numbers {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.num-left {
  animation: nameTop1 1s ease-in;
  font-family: 'Digital Display';
  color: white;
    position: absolute;
    right: 62%;
    font-size: 70px;
    bottom: 84%;
    margin: 0px;
}

.photo{
  width: 100%;
  max-width: 1367px;
  margin-bottom: 38px;
}


.icon{
  animation: timeTop 1s ease-in;
  width: 2%;
  position: absolute;
  left: 38%;
  top: 4%;
}
.sacador{
  text-align: center;
    font-size: 50px;
    margin: -60px auto;
    color: white;
}
.num-right {
  animation: nameTop2 1s ease-in;
  font-family: 'Digital Display';
  color: white;
  position: absolute;
  right: 36%;
  font-size: 70px;
  bottom: 84%;
  margin: 0px;
}

.sets-partida{
  display: inline-flex;
    align-items: center;
}
.sets-left{
  animation: nameTop1 1s ease-in;
  font-family: 'Digital Display';
  position: absolute;
  text-align: center;
  right: 83%;
  margin: 0px;
  top: 13%;
  font-size: 110px;
  color: white;
}

.sets-righ{
  animation: nameTop2 1s ease-in;
  font-family: 'Digital Display';
  position: absolute;
  text-align: center;
  right: 15%;
  margin: 0px;
  top: 13%;
  font-size: 110px;
  color: white;
}

.puntos{
  display: flex;
  justify-content: space-between;
}

.punto-iz{
  animation: ptsBut 1s ease-in;
  font-family: 'Digital Display';
  margin: 0px;
  position: fixed;
  top: 75%;
  left: 9%;
  font-size: 200px;
  color: white;
}

.punto-ez{
  animation: ptsBut 1s ease-in;
  font-family: 'Digital Display';
  margin: 0px;
    position: fixed;
    top: 75%;
    right: 9%;
    font-size: 200px;
    color: white;
}
@font-face {
  font-family: 'Digital Display';
  src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2')
      format('woff2'),
    url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.conta-loader{
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.loader {
  width: 8%;
  height: 17%;
  border: 3px solid #686868;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  right: 47%;
  top: 40%;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes nameTop1 {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}
@keyframes nameTop2 {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}
@keyframes ptsBut {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}
@keyframes timeTop {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

/* .container{
  background-image: url('./Assets/linea-Superior.png');
} */
/* header {
  background: rgb(0, 5, 129);
  background: linear-gradient(
    101deg,
    rgb(0 10 255 / 0%) 0%,
    rgb(9 24 163) 27%,
    rgb(1 5 47) 65%,
    rgb(8 2 54) 100%,
    rgba(10, 2, 75, 1) 50%
  );
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.container h1 {
  margin: 0;
  font-size: 70px;
  color: white;
  font-family: 'Digital Display';
}

.container h2 {
  margin: 0px 80px 0px 0px;
  font-size: 31px;
  color: white;
  font-family: sans-serif;
}

.container p {
  font-size: 70px;
    font-family: 'Digital Display';
    color: white;
    position: absolute;
    right: 35px;
    margin: 0px
}

.one-marcador {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.one-marcador h1 {
  border: solid 4px white;
  box-shadow: 0px 0px 20px rgb(8, 0, 255);
  color: white;
  font-size: 190px;
  margin: 50px;
  font-family: 'Digital Display';
  src: url(https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2)
    format('woff');
  border-radius: 17px;
}
.marcador-izquierdo {
  padding-right: 6%;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.marcador-derecho {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.names-one {
  display: flex;
  justify-content: space-around;
}

.names-two {
  display: flex;
  justify-content: space-around;
}

.hola{
  background: rgb(12,3,130);
background: linear-gradient(90deg, rgba(12,3,130,1) 5%, rgba(0,1,20,1) 24%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 51%, rgba(0,1,20,1) 68%, rgba(6,0,83,1) 89%);
}

.hola h2 {
  display: inline-flex;
  margin: 0px;
  align-items: center;
  color: white;
  font-size: 35px;
}

.player-two {
  margin-right: 76px !important;
}

.player-three {
  margin-right: 1px !important;
}

@font-face {
  font-family: 'Digital Display';
  src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2')
      format('woff2'),
    url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.container-category{
  display: inline-flex;
  color: white;
  align-items: center;
  margin-top: 37px;
}
.container-category h2{
  font-size: 31px;
  margin-left: 10px;
}

.container-category h3{
  font-family: 'Digital Display';
  position: absolute;
  left: 167px;
  font-size: 60px;
}

.container-category p{
  font-family: 'Digital Display';
  position: absolute;
  left: 195px;
  margin-bottom: 53px;
  font-size: 25px;
} */
